:root {
	--col-light: #f2e481;
	--col-accent-light: #eac15b; /* TODO: Change this to something more colourful */
	--col-main: #e93616;
	--col-access-dark: #9d2e97;
	--col-dark: #2d1a2a;
	
	--shadow: hsla(0, 0%, 65%, 0.5);
}

html, body { font-size: 100%; margin: 0; padding: 0; }
body {
    font-family: sans-serif;
	
	background: var(--col-light);
	color: var(--col-dark);
	
	min-height: 100vh;
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 3em auto 5em;
	grid-template-areas: "header header header"
		". content ."
		". footer .";
}

body > nav {
	grid-area: header;
	display: flex;
	flex-direction: row;
	
	/* TODO: Push the search bxo to the right and center the title. Also put the logo next to the centered title */
	justify-content: left;
	align-items: center;
	
	background: var(--col-main);
}
body > nav .logo { max-width: 6em; max-height: 100%; }
body > nav h1 {
	margin: 0 1em;
}
body > nav > form {
	flex: 2;
	
	margin: 0 1em;
	text-align: right;
}

main {
	grid-area: content;
	padding: 1em 1em 2em 1em;
}
main > header {
	display: flex;
	justify-content: center;
	align-items: center;
}
main > header .logo { max-width: 3em; margin: 0.5em; }

section .post {
	background: var(--col-main);
	color: var(--text-alt);
	margin: 1em 0;
	padding: 1em;
	
	box-shadow: 0.5em 0.5em 1em var(--shadow);
}

body > footer {
	grid-area: footer;
	
	padding: 1em 1em 3em 1em;
	
	background: var(--col-main);
	color: var(--text-alt);
	
	box-shadow: 0.5em 0.5em 1em var(--shadow);
}


/*****************************************************************************/


img.logo {
	vertical-align: middle;
}


/*****************************************************************************/

title { string-set: page-title content(text); }

/* Special tweaks for paged media (e.g. PDFs) */
@page {
	font-family: sans-serif;
	background: #f3f3f3; /* Set the background colour to cover the whole page */
	
	@top-right {
		content: "By Starbeamrainbowlabs";
		opacity: 0.6;
	}
	@bottom-right {
		content: "Page " counter(page) " of " counter(pages);
		opacity: 0.6;
	}
}


/* A small tweak to things more responsive */
iframe, object, embed, img, table	{ max-width: 100%; }

/* Turn the user's cursor into a hand when over things they can click */
button, summary { cursor: pointer; }

th, td {
	margin: 4px 6px;
	padding: 4px 6px;
}

pre { page-break-inside: avoid; break-inside: avoid; }
pre, code {
	white-space: pre-wrap;
	-moz-tab-size: 4;
	tab-size: 4;
}
