<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>{{title}}</title>
	</head>
	<body>
		<nav>
			<img class="logo" src="https://starbeamrainbowlabs.com/images/placeholder/?width=128&amp;height=128&amp;fg_colour=random&amp;bg_colour=inverse" alt="Site logo" aria-hidden="true" />
			<h1>Woppleblox</h1>
			<form class="" action="/search" method="get">
				<input type="search" name="query" value="" placeholder="Enter search terms here...." />
			</form>
		</nav>
		
		<main>
			{{content}}
		</main>
		
		<footer>
			Something here <br />
			Powered by Woppleblox
		</footer>
		
		<!---------------->
		<link rel="stylesheet" href="/static/theme/main.css" />
	</body>
</html>
