<header>
	<img class="logo" src="https://starbeamrainbowlabs.com/images/placeholder/?width=64&amp;height=64&amp;fg_colour=random&amp;bg_colour=inverse" alt="User logo" aria-hidden="true" />
	<h2>Username</h2>
</header>

<section class="post-list">
	<article class="post">
		<header>
			<img class="logo" src="https://starbeamrainbowlabs.com/images/placeholder/?width=24&amp;height=24&amp;fg_colour=random&amp;bg_colour=inverse" alt="User logo" aria-hidden="hidden" />
			Username
		</header>
		<div class="content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</div>
		<footer>
			Something here?
		</footer>
	</article>
	<article class="post">
		<header>
			<img class="logo" src="https://starbeamrainbowlabs.com/images/placeholder/?width=24&amp;height=24&amp;fg_colour=random&amp;bg_colour=inverse" alt="User logo" aria-hidden="hidden" />
			Username
		</header>
		<div class="content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</div>
		<footer>
			Something here?
		</footer>
	</article>
	<article class="post">
		<header>
			<img class="logo" src="https://starbeamrainbowlabs.com/images/placeholder/?width=24&amp;height=24&amp;fg_colour=random&amp;bg_colour=inverse" alt="User logo" aria-hidden="hidden" />
			Username
		</header>
		<div class="content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</div>
		<footer>
			Something here?
		</footer>
	</article>
</section>
